<div class="game">
  <h1 class="uppercase center">Spelling</h1>
  <div class="sp_game">
    <div class="img">
      <img src="{{selectQuiz.image}}" (click)="playAudio(this.selectQuiz.audio)" alt="">
    </div>
    <div class="flex">
      <div class="flex-row" *ngFor="let letter of correctLetter">
        <span class="letter" [@EnterLeave]="'flyIn'">{{letter}}</span>
      </div>
    </div>
    <div *ngIf="hideOption == false" class="options">
      <div  *ngFor="let choice of selectQuiz.choices; let i = index">
        <div [@Appear]="{value:'flyIn',params:{delay:i * 500}}" class="item"  (click)="evaluate(choice)">
          {{choice.text}}
        </div>
      </div>
    </div>
  </div>
</div>
